<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kanban App{% endblock %}</title>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    {% block additional_head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Kanban Board</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ms-auto">
                    {% if session.get('user_id') %}
                        <span class="navbar-text me-3">Hello, {{ session.get('name') }}!</span>
                        <a class="nav-link" href="{{ url_for('logout') }}" onclick="confirmLogout(); return false">Logout</a>
                    {% else %}
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    {% block content%} {% endblock %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{url_for('static', filename='js/alerts.js')}}"></script>
    {% block scripts%} {% endblock %}
</body>
</html>